/* ---base rules--- */

/* variables */ 
:root {
    --appBackground: hsl(207, 26%, 17%);
    --elementBackground: hsl(209, 23%, 22%);
    --searchIconFill: white;
    --iconFill: white;
    --textColor: white;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

button,
input,
select,
a {
    font-family: "Nunito Sans", sans-serif;
    color: inherit;
}

a {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

div{
    svg{max-inline-size: 100%;}
    
    img{max-inline-size: 100%;}
}

ul {
    list-style-type: none;
    padding-left: 0;
}


/* ---layout--- */
.header,
.main {
    padding: 0 5vw;
}


/* ---modules---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__theme__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 110px;
    }
        
    &__theme__icon {
        max-width: 20px;
    }
}

.countriesSearchPage {
    margin: 20px 0;

    section {
        margin: 10px 0;
    }
}

.search {
    position: relative;
    
    &__icon {
        height: 24px;
        position: absolute;
        top: 11.5px;
        left: 18px;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        padding: 0 10px 0 60px;
        border: none;
        border-radius: 5px;
        font-size: inherit;
    }
}

.regionMenu {

    position: relative;
    display: inline-block;

    select {
        width: 200px;
        height: 45px;
        padding: 0 16px;
        border: none;
        border-radius: 5px;
        font-size: inherit;

        // to add custom arrow icon
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__icon {
        height: 14px;
        fill: white;
        position: absolute;
        right: 16px;
        top: 15px;
    }

}

.noSearchResult {
    text-align: center;
}

.countryDataLabel {
    font-weight: 800;
    font-size: 1.05em;
}

.countriesList {
    display: grid;
    max-width: 1380px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;

    &__countryGeogrpahy {
        padding: 20px;
        line-height: 1.8;
    
        & li:first-child {
            padding-bottom: 10px;
            font-size: 1.4em;
        }
    }
}

.countryItem {
    border-radius: 5px;

    & img {
        border-radius: 5px 5px 0 0;
        width: 100%;
    }
}

.countryPage__backToSearch {
    display: inline-block;
    padding: 5px 10px;
    margin: 30px 0;
    border-radius: 5px;
    width: initial;
}

.countryPage {
    line-height: 2.4;

    ul {
        margin-bottom: 40px;
    }

    &__name {
        font-weight: 800;
        font-size: 2em;
        margin-right: 10px;
    }

    &__nameAndMap {
        display: flex;
        align-items: center;

        .countryPage__locationLink {
            flex: 0 0 18px;
            height: auto;
        }
    }

    &__bordersLabel {
        font-weight: 800;
        font-size: 1.05em;
    }

    &__noBorders {
        font-size: initial;
        font-weight: initial;
    }
}

.countryPage_bordersList {
    display: flex;
    flex-flow: row wrap;

    li {
        border-radius: 5px;
        margin: 0 10px 15px 0;

        a {
            padding: 0 20px;
        }
    }
}

.loaderContainer {
    position: fixed;
    top: 180px;
    width: 100vw;
    display: flex;
    justify-content: center;

    .loader__icon{
        max-width: 110px;
    }
}

/* desktop */
@media (min-width : 1440px) {
    .header,
    .main {
        padding: 0 8vw ;
    }

    /* search page */ 
    .countriesSearchPage {
        display: grid;
        grid-template-columns: 1fr 1fr;

        section {
            margin: 20px 0;
        }

        .search {
            justify-self: start;
            width: 500px;
        }

        .regionMenu {
            justify-self: end;
        }

        section:last-child {
            grid-column: 1/3;
        }

        .countriesList {
            max-width: none;
        }
    }

    /* country page */ 
    .countryPage {
        &__data {
            display: flex;
            margin: 50px 0;
        }

        &__flag {
            align-self: center;
            flex: 1;
        }

        &__details {
            flex: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 100px;
            min-width: 600px;
        }

        ul {
            margin: 0;
        }

        &__nameAndMap,
        &__borders {
            grid-column: 1/3;
            margin: 0;
        }
    }

    .loaderContainer {
        .loader__icon {
            max-width: 150px;
        }
    }
}


/* ---theme--- */
/* dark mode */ 
body {
    background-color: var(--appBackground);
    color: var(--textColor);
}

select,
input,
button,
header,
.countryItem,
.countryPage__backToSearch,
.countryPage_bordersList li {
    background-color: var(--elementBackground);
}

.header {
    &__theme__switch {
        border: none;
    }

    &__theme__icon {
        fill: var(--iconFill);
    }
}

.search__icon {
    fill: var(--searchIconFill);
}

.regionMenu__icon{
    fill: var(--iconFill);
}

.loader__icon {
    circle {
        stroke: var(--iconFill);
    }
}