/* ---base rules--- */
body,
button,
input,
select {
    font-family: "Nunito Sans", sans-serif;
}

div{
    svg{max-inline-size: 100%;}
    
    img{max-inline-size: 100%;}
}

ul li {
    list-style-type: none;
}


/* ---layout--- */
body {
    margin: 15px 5vw;
}


/* ---modules---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__theme__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 110px;
    }
        
    &__theme__icon {
        max-width: 20px;
    }
}