/* ---base rules--- */
button,
input,
select,
a {
    font-family: "Nunito Sans", sans-serif;
    color: inherit;
}

a {
    text-decoration: none;
}

div{
    svg{max-inline-size: 100%;}
    
    img{max-inline-size: 100%;}
}

ul {
    list-style-type: none;
    padding-left: 0;
}


/* ---layout--- */
.header,
.main {
    padding: 0 5vw;
}


/* ---modules---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__theme__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 110px;
    }
        
    &__theme__icon {
        max-width: 20px;
    }
}


.countriesSearchPage section {
    margin-top: 30px;
}

.countriesSearchPage .search {
    margin-top: 6px;
}

.search {
    &__icon {
        height: 24px;
        position: relative;
        top: 38px;
        left: 28px;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        padding: 0 10px 0 80px;
        border: none;
        border-radius: 5px;
        font-size: inherit;
    }
}

.regionMenu select {
    width: 100%;
    padding: 0 28px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: inherit;
}

.countriesList {
    display: grid;
    max-width: 1380px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 60px;

    &__countryGeogrpahy {
        padding: 20px;
    
        & li:first-child {
            padding-bottom: 10px;
            font-size: large;
        }
    }
}

.countryItem {
    border-radius: 5px;

    & img {
        border-radius: 5px 5px 0 0;
    }
}

.countryPage__backToSearch {
    display: inline-block;
    padding: 10px;
    margin: 30px 0;
    border-radius: 5px;
}

/* ---theme--- */
html {
    background-color:  hsl(207, 26%, 17%);
    color: white;
}

select,
input,
button,
.countryItem {
    background-color: hsl(209, 23%, 22%);
}

.header {
    background-color: hsl(209, 23%, 22%);

    &__theme__switch {
        border: none;
    }

    &__theme__icon {
        fill: white;
    }
}

.search__icon {
    fill: white;
}

.countryPage__backToSearch {
    background-color: hsl(209, 23%, 22%);
}